:root {
    --primary-color: #022F3E;
    --secondary-color: #207E40;
    --highlight-color: #ffebc6;
}

html {
    box-sizing: border-box;
}

body {
    @apply flex flex-col my-0 mx-auto w-full text-base h-screen;
}

a {
    @apply dark:text-white;
}

/* Nav styles */
.hamburger {
    @apply pl-4 cursor-pointer md:hidden;
}

.hamburger .line {
    @apply block w-6 h-0.5 mb-2 bg-gray-800 dark:bg-white last:mb-0;
}

.nav-links {
    @apply hidden md:block;
}

.nav-links a {
    @apply px-8 md:first:pl-0;
}

.nav-links.mobile {
    @apply hidden;
}

.nav-links.mobile.is-expanded {
    @apply block md:hidden;
}

.nav-links.mobile a {
    @apply block text-center uppercase py-4 no-underline;
}

.nav-links.mobile a:hover,
.nav-links.mobile a:focus {
    @apply text-white dark:text-[var(--primary-color)] bg-[var(--primary-color)] dark:bg-[var(--secondary-color)];
}

.is-expanded {
    display: unset;
}


/* Post */
time {
    @apply text-gray-400;
}

.lead {
    @apply text-gray-400 text-lg italic;
}