---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Todoconta - Información contable (México)."
---

<Layout title={pageTitle}>
  <div class="container mx-auto px-4">
    <h1>Hola Todoconta!</h1>
  </div>
</Layout>
