---
import { WA_NUMBER } from 'astro:env/client'
---
<section class="py-12">
  <div class="container min-w-[280px] max-w-sm md:max-w-xl mx-auto py-4 prose dark:prose-invert">
    <h2 class="text-center text-2xl font-bold mb-6">Acerca de mi</h2>
    <div>
      <p>Hola! Soy Israel Castro Urieta, contador público con más de 10 años de experiencia ayudando a personas físicas y
        negocios a simplificar su contabilidad.</p>
      <p>Mi enfoque combina experiencia contable con herramientas tecnológicas para optimizar procesos y ahorrar tiempo.</p>
      <p>En TodoConta, mi objetivo es brindarte soluciones prácticas, claras y adaptadas a tus necesidades, ya sea a
        través de asesorías personalizadas, plantillas en Excel o herramientas tecnológicas.</p>
      <p>¿Necesitas ayuda con tu contabilidad?</p>
    </div>
  </div>
    <div class="mt-6 flex flex-col md:flex-row md:justify-center">
      <a href=`https://wa.me/${WA_NUMBER}?text=¡Hola Israel! Necesito ayuda con mi negocio/contabilidad.`
         class="text-center text-white bg-secondary-green font-semibold py-4 px-4 md:py-2 rounded-lg border border-solid border-secondary-green hover:bg-transparent hover:text-secondary-green">Contáctame
        ahora</a>
    </div>
</section>