---
import {WA_NUMBER} from 'astro:env/client'
---
<header class="bg-primary text-white text-center py-24">
  <div class="container min-w-[280px] max-w-sm md:max-w-2xl mx-auto px-4">
    <h1 class="text-3xl font-bold md:font-semibold md:text-6xl">Transforma tu Contabilidad con un Experto</h1>
    <p class="mt-4 md:mt-10 text-lg md:leading-10 md:text-2xl">Servicios contables, asesorías personalizadas y herramientas digitales para hacer tu vida
      más fácil.</p>
    <div class="mt-12 flex flex-col md:flex-row md:justify-center gap-4">
      <a href=`https://wa.me/${WA_NUMBER}?text=¡Hola Israel! Quiero agendar una asesoría contigo.`
         class="text-center text-white bg-secondary-green font-semibold py-2 px-4 md:px-8 rounded-lg border border-solid border-secondary-green hover:bg-transparent hover:text-secondary-green"
         onclick={() => gtag('event', 'click', {
           event_category: 'Hero',
           event_label: "Asesoría CTA"
         })}
      >Agenda
        tu asesoría</a>
      <a href="#servicios" class="bg-white text-primary dark:text-primary border-2 border-white py-2 px-4 md:px-8 rounded-lg hover:bg-gray-100">Nuestros
        servicios</a>
    </div>
  </div>
</header>
