---
---
<header class="bg-primary text-white text-center py12">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold">Transforma tu Contabilidad con un Experto</h1>
    <p class="mt-4 text-lg">Servicios contables, asesorías personalizadas y herramientas digitales para hacer tu vida
      más fácil.</p>
    <div class="mt-6 space-x-4">
      <a href="#contacto" class="bg-secondary-golden text-primary font-semibold py-2 px-4 rounded-lg hover:bg-yellow-400">Agenda tu asesoría</a>
      <a href="#servicios" class="bg-white text-primary border-2 border-white py-2 px-4 rounded-lg hover:bg-gray-100">Nuestros
        servicios</a>
    </div>
  </div>
</header>
