---
import Hero from "./Hero.astro";
import Services from "./Services.astro";
import Testimonials from "./Testimonials.astro";
import BlogHome from "./BlogHome.astro";
import AboutMe from "./AboutMe.astro";
---
<Hero />
<main class="container mx-auto px-4 py-8">
  <AboutMe />
  <Services />
  <!--<LeadMagnet title="¡Suscríbete y recibe una Plantilla Gratuita!" />-->
  <Testimonials />
  <BlogHome />
</main>