---
import Hero from "./Hero.astro";
import Services from "./Services.astro";
import LeadMagnet from "./LeadMagnet.astro";
import Testimonials from "./Testimonials.astro";
import BlogHome from "./BlogHome.astro";
import Contact from "./Contact.astro";
---
<Hero />
<main class="container mx-auto px-4 py-8">
  <Services />
  <LeadMagnet />
  <Testimonials />
  <BlogHome />
  <Contact />
</main>