---
import {SENDY_LIST_ID} from "astro:env/client";
import SubscribeWidget from "../SubscribeWidget.astro";
---
<section class="p-6 mt-6 rounded-lg bg-primary-light">
  <SubscribeWidget listId={SENDY_LIST_ID}
                   ctaText="Descargar ahora"
                   title="Suscríbete y recibe una plantilla gratuita"
                   description="Recibe la plantilla de flujo de efectivo y nuestro boletín semanal."
                   disclaimer="Te puedes dar de baja cuando quieras. Sin resentimientos. 😊"
                   style="text-center text-white prose-invert"
                   hasNameField/>
</section>