---
import Subscribe from "../Subscribe.astro";
import { SENDY_LIST_ID } from "astro:env/server";

const { title } = Astro.props
---
<section class="text-center text-white py-6 mt-6 rounded-lg bg-primary-light">
  <h4 class="text-lg font-bold">{title}</h4>
  <Subscribe listId={SENDY_LIST_ID} />
</section>