---
---
<div class="flex">
  <a href="/" class="flex items-center gap-2">
    <img src="/isotipo-dark.svg" alt="logo" class="w-10" />
    <h1 class="uppercase font-extralight text-xl dark:text-white text-[#022F3E]">
      Todo<span class="font-extrabold text-[#207E40] dark:text-white">conta</span>
    </h1>
  </a>
</div>