---
const menuList = [
    {
        title: 'Blog',
        url: '/blog'
    },
    {
        title: 'Tienda',
        url: '/tienda'
    },
    {
        title: 'Newsletter',
        url: '/newsletter'
    },
    {
        title: 'Podcast',
        url: '/podcast'
    },
    {
        title: 'Contacto',
        url: '/contacto'
    },
]

const { styles } = Astro.props
---
<div class=`nav-links ${styles}`>
    {
        menuList.map((item) => (
          <a href={item.url}>{item.title}</a>
        ))
    }
</div>
