---
const year: number = new Date().getFullYear()
---
<footer class="text-center bg-yellow-100 py-4 mt-auto">
  <div class="flex justify-center">
    <ul class="flex">
      <li>
        <a href="https://x.com/todoconta">X</a>
      </li>
      <li>
        <a href="https://facebook.com/todoconta">Facebook</a>
      </li>
      <li>
        <a href="https://instabram.com">Instagram</a>
      </li>
    </ul>
  </div>
  <div>
      {year} - Todos los derechos reservados
  </div>
</footer>