---
import { Picture } from "astro:assets";
import profile from "../../assets/images/profile.jpg";

---
<div class="flex items-center gap-6 mt-12">
  <Picture src={profile} alt="Israel Castro Urieta" format="avif" width={110} height={110} class="rounded-full" />
  <div class="ml-4 prose dark:prose-invert">
    <h4 class="text-lg font-bold">Acerca del Autor</h4>
    <p>Soy Israel Castro Urieta, contador público con más de 10 años de experiencia, apasionado por hacer la contabilidad más accesible para todos.</p>
    <div class="mt-2 flex space-x-4">
      <a href="https://linkedin.com/in/iscasur" class="text-primary hover:underline">LinkedIn</a>
      <a href="https://x.com/iscasur" class="text-primary hover:underline">𝕏</a>
    </div>
  </div>
</div>
