---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import '../styles/global.css';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-VS5CTEJ19C"></script>
		<script type="text/partytown">
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-VS5CTEJ19C');
		</script>
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-[var(--primary-color)]">
		<Header />
		<main>
		  <slot />
		</main>
		<Footer />
		<script>
			import '../scripts/menu.js'
		</script>
	</body>
</html>
